.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  display: flex;
  justify-content: space-around;
  padding: 1% 3%;
}

.heading a {
  background-color: black;
  color: white;
  padding: 2%;
}


.login {
  padding: 1%;
  border: solid black 2px;
  margin: 2% 20%;
}

.login-form input {
  margin: 2%;
  background-color: black;
  padding: 1% 8%;
}

.login-form button {
  margin: 1%;
  background-color: black;
  color: white;
  padding: 2%;
}